@model ShopHoaTuoi.Models.EF.PHIEUNHAPHOA

@{
    ViewBag.Title = "Chi tiết phiếu nhập";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết đơn hàng</a>
        </li>
    </ul>

}


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Chi tiết phiếu nhập</h3>
        </div>
        @{
            var db = new ShopHoaTuoi.Models.EF.ShopHoaTuoiEntities();
            var listtenncc = (from n in db.PHIEUNHAPHOAs
                              join ct in db.CT_PHIEUNHAPHOA
                              on n.mapnh equals ct.mapnh
                              join ncc in db.NHACUNGCAPs
                              on n.mancc equals ncc.mancc
                              select new
                              {
                                  PN = n,
                                  NCC = ncc,
                                  ChiTiet = ct
                              })
                    .GroupBy(result => new
                    {
                        result.NCC.mancc,
                        result.NCC.tenncc,
                        result.PN.ngaylap,
                        result.PN.mapnh
                    })
                    .Select(group => new
                    {
                        TongTien = group.Sum(item => item.ChiTiet.tongtien),
                        manccc = group.Key.mancc,
                        NgayLap = group.Key.ngaylap,
                        tennccc = group.Key.tenncc,
                        mapnh = group.Key.mapnh
                    });
        }

        @foreach (var iteam in listtenncc)
        {

            if (Model.mapnh == iteam.mapnh)
            {

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nhà Cung Cấp</label>
                                <p class="form-control">@iteam.tennccc</p>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ngày lập</label>
                                <p class="form-control">@iteam.NgayLap</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tổng hóa đơn</label>
                                <p class="form-control">@ShopHoaTuoi.Common.Common.FormatNumber(iteam.TongTien, 0)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2> Danh sách đặt hoa</h2>
                        </div>
                        <div class="col-12">
                            @Html.Action("Partial_CTPN", "PhieuNhapHoa", new { id = Model.mapnh })
                        </div>
                    </div>

                </div>

            }
        }
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="/admin/phieunhaphoa" class="btn btn-outline-danger">Quay lại</a>
            <button type="submit" class="btn btn-outline-success">Submit</button>

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
