@model ShopHoaTuoi.Models.EF.DANHGIA

<div class="add_review">
    @using (Ajax.BeginForm("UpDanhGia", "DanhGia", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_dg",
        OnSuccess = "OnSuccessDG",
        OnFailure = "OnFailureDG",
        OnBegin = "OnBeginDG",

    }, new { @Id = "myForm" }))
    {
        <script>
            function OnBeginDG() {
                $('#review_submit').attr("disabled", "disabled");
                /* var type = $(this).val();
                 $('#load_form_payment').hide();
                 if (type == "2") {
                     $('#load_form_payment').show();*/
            }
            function OnSuccessDG(res) {
                if (res.Success) {
                    $('#review_form').reset();
                }

            }
        </script>
                @Html.AntiForgeryToken()
<form id="review_form" action="post">
    <div>
        <h1>Thêm đánh giá</h1>
        @Html.HiddenFor(x => x.id_user)
        @Html.HiddenFor(x => x.mahoa)
        <input type="text" name="rating" id="txtRate" value="4" style="visibility:hidden" />
        <div>
            <h1></h1>
            <ul class="user_star_rating">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            </ul>
            </div>
            @Html.TextAreaFor(x => x.comment, new { @class = "input_review", @placeholder = "Nội dung đánh giá", @rows = "4" })
            @* <textarea id="review_message" class="input_review" name="message" placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>*@
        </div>
    <div class="text-left text-sm-right">
        <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
    </div>
</form>
        }
        </div>

