<ul class="navbar_menu" style="font-family: 'Baloo 2', cursive">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/product">Hoa</a></li>
    <li><a href="/gioithieu">Giới thiệu</a></li>
    <li><a href="/contact">Liên hệ</a></li>
</ul>
